/* Write your custom CSS here */
.row .img_login{
    text-align: center !important;
}
.img_login{
    text-align: center !important;
}
.login_img{
    width: 100px !important;
}
.img_candidatas{
	width: 120px !important;
}