<!DOCTYPE html>
<html lang="es">
    <head>
        
        <!-- Title -->
        <title>Morlaquita 2017 | Cintanegra.net</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">
        <meta name="description" content="Aplicación para el evento de calificación del evento Morlaquita 2017" />
        <meta name="keywords" content="cintanegra, wilson, wilson perez, admin, morlaquita" />
        <meta name="author" content="Wilson Pérez" />
        
        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialPreloader.min.css" rel="stylesheet">        

        	
        <!-- Theme Styles -->
        <link href="css/alpha.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css"/>
        
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="signin-page">
        <div class="loader-bg"></div>
        <div class="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mn-content valign-wrapper">
            <main class="mn-inner container">
                <div class="valign">
                      <div class="row">
                          <div class="col s12 m6 l4 offset-l4 offset-m3">
                              <div class="card white darken-1">
                                  <div class="card-content ">
                                      <span class="card-title">Ingreso al Sistema</span>
                                      <div class="row img_login">
                                        <img src="images/profile-image-1.png" class="circle login_img" alt="">
                                      </div>
                                       <div class="row">
                                           <form class="col s12" action="/login" method="POST" name="cedulaInit">
                                               <div class="input-field col s12">
                                                   <input id="username" name="username" type="text">
                                                   <label for="username">Usuario</label>
                                               </div>
                                               <div class="input-field col s12">
                                                   <input id="password" type="password" class="validate" name="password">
                                                   <label for="password">Contraseña</label>
                                               </div>
                                               <p id="erroCedula" class="s12 m12 invalid"></p>
                                               <div class="col s12 right-align m-t-sm"> 
                                                   <input type="submit" class="waves-effect waves-light btn teal" name="submit" value="Ingresar"/>
                                               </div>
                                           </form>
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </main>
        </div>
        
        <!-- Javascripts -->
        <script src="js/jquery-2.2.0.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/materialPreloader.min.js"></script>
        <script src="js/jquery.blockui.js"></script>
        <script src="js/alpha.min.js"></script>
        
    </body>
</html>