<!DOCTYPE html>
<html>
<head>
	<title>Morlaquita 2017</title>
	  <!-- Compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  	<link rel="stylesheet" type="text/css" href="css/app.css">
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  	<meta charset="utf8" />

</head>
<body>

	<section id="main-container">
		<div class="container">
        <!-- Page Content goes here -->
        	<div class="row">
        		<div class="col s10 push-s1">
        			<div class="row">
        				<div class="col m5 hide-on-small-only">
        					<img class="iphone" src="images/iphone.png">
        				</div>
        				<div class="col s12 m7">
        					<div class="row">
        						<div class="signup-box">
        							
        							<h1 class="title">
		        						Morlaquita 2017   						
		        					</h1>
		        					<form class="signup-form" action="#" method=post>
		        						<div class="divider"></div>
		        						<h2>Para registrar tú voto debes ingresar con tu cuenta de Facebook</h2>
	        						
		        						<div class="divider"></div>
		        						<div class="section">
		        							
											<p id="erroCedula" class="s12 m12"></p>
											    							
		        							<a class="btn waves-effect waves-light btn-signup" href="/auth/facebook">
		        							<i class="fa fa-facebook fa-fw"></i>
		        								Iniciar Session
		        							</a>

		        						</div>		
		        					</form>

        						</div>
        					</div>
        					<div class="row">
        						<div class="login-box">
        							El inicio de session con facebook es solo para verificar si ya votaste por una candidata.
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
      	</div>
	</section>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col s12 l3 center-align">
					
				</div>
				<div class="col s12 l3 push-l6 center-align">
					<img class="responsive-img" src="images/cn.png" />
					<a href="http://www.cintanegra.net" target="_blank">2017 CintaNegra.net</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	
</body>
</html>